<!DOCTYPE html>
<html>
<h1>Pantalla principal</h1>
<button *appRol="['ADMIN']" class="buttonCreate" (click)="empleados()">Ver lista de empleados</button>
<button *appRol="['JEFE', 'ADMIN']" class="buttonDelete" (click)="vacaciones()">Ver vacaciones</button>
<div style="max-width: 25rem;">
<mat-card *appRol="['EMPLEADO']" (click)="verMisVacaciones()" class="card" style="background-color: #ffa500; cursor: pointer; margin: 0 auto; ">
    <mat-card-header>
      <mat-card-title-group>
        <i class="fa-solid fa-tree-palm"></i>
        <mat-card-title>Ver mis vacaciones</mat-card-title>
        <mat-card-subtitle>Accede aquí para ver tus vacaciones</mat-card-subtitle>
        
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
</div>
<!-- <div *appRol="['EMPLEADO']" (click)="verMisVacaciones()">
    <
</div> -->

<button *appRol="['ADMIN']" class="buttonVacation" (click)="roles()">Ver roles</button>
</html>