<!DOCTYPE html>
<html>
<h1>Lista de Vacaciones</h1>
<div *ngIf="!listaVacaciones || listaVacaciones.length == 0 "></div>
<table class="table table-striped" *ngIf="listaVacaciones && listaVacaciones.length > 0">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Empleado</th>
            <th>Fecha_Peticion</th>
            <th>Fecha_Inicio</th>
            <th>Fecha_Fin</th>
            <th>Estado
                <select [(ngModel)]="filtroSeleccionado">
                    <option value="">Todos</option>
                    <option *ngFor="let estado of listaEstados" [value]="estado">{{estado}}</option>
                </select>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vacaciones of listaVacaciones | estadosFitro:filtroSeleccionado" [ngSwitch]="vacaciones.estado">
            <td>{{vacaciones.id}}</td>
            <td>{{vacaciones.empleado.email}}</td>
            <td>{{vacaciones.fechaSolicitud | conversorFecha:"dd/MM/yyyy"}}</td>
            <td>{{vacaciones.fechaInicio | conversorFecha:"dd/MM/yyyy"}}</td>
            <td>{{vacaciones.fechaFin | conversorFecha:"dd/MM/yyyy"}}</td>
            <td>
                <span *ngSwitchCase="'Pendiente'" class="pendiente">{{vacaciones.estado}}</span>
                <span *ngSwitchCase="'Aceptada'" class="aceptada">{{vacaciones.estado}}</span>
                <span *ngSwitchCase="'Denegada'" class="denegada">{{vacaciones.estado}}</span>
            </td>
            <td><button class="buttonEditIcon" [routerLink]="['/vacaciones/modificar/', vacaciones.id]"><i
                        class="fa-solid fa-pen-to-square"></i></button></td>
        </tr>
    </tbody>


    <div class="col-md-3"></div>
</table>
<div class="container text-center">
    <button class="buttonCreate" [routerLink]="['/vacaciones/anadir/']">Solicitar vacaciones</button>
</div>

</html>