<!DOCTYPE html>
<html>


<title>Lista de Empleados</title>
<link rel="stylesheet" type="text/css" href="estilos.css">

<h1>Lista de Empleados</h1>
<ul>
    <li>
        <span class="nombre">Juan</span>
        <span class="apellido">Pérez</span>
        <span class="email">juanperez@example.com</span>
    </li>
    <li>
        <span class="nombre">María</span>
        <span class="apellido">González</span>
        <span class="email">mariagonzalez@example.com</span>
    </li>
    <li>
        <span class="nombre">Pedro</span>
        <span class="apellido">Rodríguez</span>
        <span class="email">pedrorodriguez@example.com</span>
    </li>
</ul>


</html>
tiene menú contextual