<!DOCTYPE html>
<html>



<h1>Lista de Empleados</h1>
<table *ngIf="empleados && empleados.length > 0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empleado of empleados">
            <td>{{empleado.id}}</td>
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.apellidos}}</td>
            <td>{{empleado.email}}</td>
            <td>{{empleado.rol_id}}</td>
            <td>
                <button (click)="eliminarEmpleado(empleado.id)"></button>
            </td>
        </tr>
    </tbody>
</table>

</html>
tiene menú contextual