<!DOCTYPE html>
<html>
<h1 class="mt-2">Lista de Vacaciones</h1>
<div *ngIf="!listaVacaciones || listaVacaciones.length == 0 "></div>
<table class="table table-striped center" *ngIf="listaVacaciones && listaVacaciones.length > 0">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Empleado</th>
            <th>Fecha_Peticion</th>
            <th>Fecha_Inicio</th>
            <th>Fecha_Fin</th>
            <th>Estado
                <select [(ngModel)]="filtroSeleccionado">
                    <option value="">Todos</option>
                    <option *ngFor="let estado of listaEstados" [value]="estado">{{estado}}</option>
                </select>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vacaciones of listaVacaciones | estadosFitro:filtroSeleccionado" [ngSwitch]="vacaciones.estado">
            <td>{{vacaciones.id}}</td>
            <td>{{vacaciones.empleado.email}}</td>
            <td>{{vacaciones.fechaSolicitud | conversorFecha:"dd/MM/yyyy"}}</td>
            <td>{{vacaciones.fechaInicio | conversorFecha:"dd/MM/yyyy"}}</td>
            <td>{{vacaciones.fechaFin | conversorFecha:"dd/MM/yyyy"}}</td>
            <td>
                <span *ngSwitchCase="'Pendiente'" class="pendiente">{{vacaciones.estado}}</span>
                <span *ngSwitchCase="'Aceptada'" class="aceptada">{{vacaciones.estado}}</span>
                <span *ngSwitchCase="'Denegada'" class="denegada">{{vacaciones.estado}}</span>
            </td>
            <td><button class="buttonDelete" (click)="eliminarVacaciones(vacaciones.id)">Eliminar</button></td>
            <td><button class="buttonDeny"  (click)="denegarVacaciones(vacaciones.id)"><i class="fa-solid fa-xmark"></i></button></td>
            <td><button class="buttonAprove"  (click)="aprobarVacaciones(vacaciones.id)"><i class="fa-solid fa-check"></i></button></td>
        </tr>
    </tbody>
    <div class = "col-md-3"></div>
</table>

</html>