<form #vacacionesFormulario="ngForm"> <!--(ngSubmit)="anadirEmpleado()"-->
    <mat-form-field appearance="outline">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate name="fechaInicio" placeholder="Start date" [(ngModel)]="vacaciones.fechaInicio">
        <input matEndDate name="fechaFin" placeholder="End date" [(ngModel)]="vacaciones.fechaFin">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  
    
    <button mat-raised-button type="submit" class="btn btn-success me-2" (click)="editarVacaciones(vacacionesFormulario)"
      [disabled]="!vacacionesFormulario.valid">Confirmar</button>
    <button mat-raised-button type="submit" class="btn btn-danger" (click)="vacacionesFormulario.reset()">Reset</button>
  </form>
  
  
  
  
  <!-- <div class="form-group text-center">
              <mat-date-range-input [rangePicker]="picker">
                  <input id="fechaInicio" name="fechaInicio" matStartDate placeholder="Start date" [(ngModel)]="vacaciones.fechaInicio">
                  <input id="fechaFin" name="fechaFin" matEndDate placeholder="End date" [(ngModel)]="vacaciones.fechaFin">
              </mat-date-range-input>
              <mat-date-range-picker #picker></mat-date-range-picker>
              <div class="text-center"> -->
