<div class="container text-center">
  <form #vacacionesFormulario="ngForm"> <!--(ngSubmit)="anadirEmpleado()"-->
    <div class="form-group" style="margin-top: 10px">
      <mat-form-field appearance="outline">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate name="fechaInicio" placeholder="Start date" [(ngModel)]="vacaciones.fechaInicio">
          <input matEndDate name="fechaFin" placeholder="End date" [(ngModel)]="vacaciones.fechaFin">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="form-group" style="margin-top: 10px">
      <button class="btn btn-success me-3" type="submit" 
        (click)="editarVacaciones(vacacionesFormulario)" [disabled]="!vacacionesFormulario.valid">Confirmar</button>
      <button  type="submit" class="btn btn-danger"
        (click)="vacacionesFormulario.reset()">Reset</button>
    </div>
  </form>
</div>



